<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="box-seo">
        <div class="box-seo-1 box-seo-item">
            <div class="box-seo-content">
                <img src="" alt="" class="seo-content-img">
                <p class="seo-content">Free delivery/oder over $50</p>
            </div>
        </div>
        <div class="box-seo-2 box-seo-item">
            <img src="" alt="" class="seo-content-img">
            <p class="seo-content">0% discount for first order</p>
        </div>
        <div class="box-seo-3 box-seo-item">
            <img src="" alt="" class="seo-content-img">
            <p class="seo-content">awesome gift every month</p>
        </div>
    </div>
    <div class="box-ads">
        <p class="ads-title-thin">Organic Mixed Meat Bundle</p>
        <p class="ads-title-strong">Now available with  only £20 .00</p>
        <button class="ads-button">by now</button>
    </div>
</body>
</html>